body{
    background-color: black!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-item{
    margin-right: 20px;
}
.nav-item:hover{
    background-color: rgb(255, 0, 34);
}
#head{
    color: rgb(255, 0, 34);
    font-size: 50px;
}
.nav-item{
    color: white;
}
#p1{
    border: 2px solid black;
    background-color: rgb(255, 0, 34);
    padding: 15px;
    color: white;
}
.p0{
    background-color: rgb(255, 0, 34);
}
#latest{
    display: inline;
    color: white;
    font-size: 50px;
    background-color: black;
}
#p3{
    color: white;
    margin-left: 1250px; 
}
select{
    color: white;
    margin-left: 1250px;
    background-color: rgb(255, 0, 34); 
}
img{
    margin-left: 1250px;
}
.a{
    color: white;
}
.a2{
    color: white;
}
video{
    box-sizing: border-box;
    position: static;
}
#Naruto129{
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
    overflow: hidden
}
.video-overlay{
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
    color: white;
    
}
